<h1>Create New ToDo</h1>

<%= form_with model: @todo, url: todos_path, local: true do |form| %>
    <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
    </div>

    <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
    </div>

    <div>
    <%= form.label :due_date, "Due Date" %>
    <%= form.date_select :due_date %>
    </div>

    <div>
    <%= form.label :priority, "Priority | 1:High 2:Medium 3:Low " %>
    <%= form.select :priority, options_for_select([1, 2, 3]) %>
    </div>

    <div>
    <%= form.submit "Create ToDo" %>
    </div>
<% end %>









