<h1>Create New ToDo</h1>

<%= form_with model: @todo, url: todos_path, local: true do |form| %>
    <%= form.hidden_field :team_id, value: @team.id if @team%>
    <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
    </div>

    <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
    </div>

    <div>
    <%= form.label :due_datetime, "Due Date" %>
    <%= form.datetime_select :due_datetime %>
    </div>


    <div>
    <%= form.label :priority, "Priority" %>
    <%= form.select :priority, options_for_select([['Low', 'low'], ['Medium', 'medium'], ['High', 'high']]) %>
    </div>

    <div class="field">
      <%= form.label :category_id, "Category" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %>
    </div>

    <div>
    <%= form.label :reminder, "Reminder Notification" %>
    <%= form.select :reminder, options_for_select([['None'], ['1 hour'], ['1 day'], ['1 week']]) %>
    </div>

    <% if @team %>
    <div class="field">
      <%= form.label :assigned_user_id, "Assign to" %>
      <%= form.select :assigned_user_id, 
          options_for_select([["All", "all"], ["Anyone", "anyone"]] + @team.users.map { |user| [user.email, user.id] }, selected: @todo.assigned_user_id),
          include_blank: true %>
    </div>
    <% end %>

    <div>
    <%= form.submit "Create ToDo" %>
    </div>

    <% if @team %>
      <%= link_to 'Back to Teams', team_path(@team) %>
    <% else %>
      <%= link_to 'Back to Home', todos_path %>
    <% end %>

<% end %>









